#board {
    padding: 3em 0 0 0;
    text-align: center;
    user-select: none;
}

div.row > div {
    float: left;
    height: 100px;
    width: 100px;
}

.row {
    clear: both;
    margin: 0 auto;
    width: 302px;
    font-size: 75px;
}

.top {
    border-bottom: 1px black solid;
}

.bottom {
    border-top: 1px black solid;
}

.right {
    border-left: 1px black solid;
}

.left {
    border-right: 1px black solid;
}

.btn {
    clear:  both;
    display: block;
    align-items: center;
    margin: auto;
    
}

#button1 {
    box-shadow: -2px 10px 20px 0.5px rgba(0,0,0,0.58);
    padding: 5px;
}

.btn > div {
    clear: both;
}




